* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-image: url("images/backgroundWood.jpg");
  background-size: cover;
}

#backgroundImage {
  background-image: url("images/backgroundWood.jpg");
  background-repeat: no-repeat;
  width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

section {
  display: flex;
  flex-direction: column;
}

#topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 100px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
}

.mainMenu ul {
  list-style: none;
  display: flex;
  margin-right: -170px;
  font-size: 1.2em;
}

.mainMenu ul li {
  margin: 0 15px; 
}

.mainMenu ul li a:hover {
  color: #555;
}

.mainMenu a {
  padding: 15px 0;
  text-shadow: 1px 1px #999;
}

#main {
  align-items: center;
  height: 100%;
  width: 74%;
  margin: auto;
}

#intro h2, .numStep {
  color: #70B977;
}

#intro {
  height: 500px;
  background-color: rgb(235, 235, 235);
}

#introTitle {
  align-self: flex-start;
  margin-top: 15px;
  margin-left: 15px;
}

#introBody {
  flex-direction: row;
  margin: 10px;
}

#introBody section {
  flex-basis: 50%;
}

#introBody section p {
  color: #F19735;
  font-weight: bold;
}

#introBody article {
  margin: 20px 35px;
  padding: 10px;
  flex-basis: 50%;
}

#introBody article h2 {
  text-shadow: 1px 1px #fff;
}

#introBody article p {
  padding-top: 10px;
  padding-right: 20px;
}

#introBody article img {
  width: 18vw;
  margin: 20px 0 0 15px;
}

#introBody section p {
  margin-left: 25px;
}

#intro footer {
  display: flex;
  justify-content: center;
}

#intro footer .containerStep {
  display: flex;
  flex-basis: 30%;
  /*height: 100px;*/
  margin: 10px;
  border-radius: 5px;
  background-color: #DDD;
  box-shadow: 3px 3px 1px rgb(180, 180, 180) inset;
}

#intro footer .numStep {
  font-size: 3em;
  margin: 5px 10px;
}

#intro footer .descriptionStep {
  margin: 10px 0;
  font-size: 1.2em;
}

#presentationSections {
  flex-direction: row;
  width: 95%;
}

#presentationSections h2{
  margin-top: 25px;
}

.leftPresent, .rightPresent {
  width: 50%;
  padding: 15px;
  color: white;
  /*background-color: #70b977;*/
}

.rightPresent {
  background-color: #68ac3c;
}

.mediaImgs {
  flex-direction: row;
  margin: 5px;  
}

.mediaImgs img {
  margin: 5px;
}

.features {
  flex-direction: row;
  align-items: center;
}

section.gardenContainer .gardens {
  flex-direction: row;
  margin: 5px;
}

section.gardenContainer .gardens img {
  margin: 5px;
}

.testimonialContainer {
  flex-direction: row;
  width: 95%;
  color: white;
}

.testimonialContainer h2 {
  margin: 15px;
}

.testimonials {
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
}

section.rightPresent .features p {
   margin: 0 20px 0 10px; 
}

section.testimonials p{
  margin: 5px;
}

.footerMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: 20px 0;
}

.footerMenu nav {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-bottom: 10px;
}

.footerMenu ul {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.footerMenuList {
  justify-content: space-around;
  text-shadow: #333 1px 1px;
}

.footerMenuList li a:hover {
  color: #68ac3c;
}

.socialIcons {
  justify-content: flex-end;
  font-size: 1.5em;
}

.socialIcons li {
  margin-left: 8px;
  font-size: 1.2em;
}

hr {
  border:none;
  width: 100%;
  height: 50px;
  box-shadow: 0 30px 30px -20px #333;
  margin: -20px auto 10px; 
}